header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px #cccccc;
  }
header .logo {
  background: url(../images/imagen.png) no-repeat;
  height: 60px;
  width: 100%;
}
header .hr {
  height: 1px;
  background-color: #cccccc;
}
