.container .filter{
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px ;
}

button {
    position: absolute;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    top: 15px;
    right: 30px;
}