.container .filters {
  position: relative;
  background: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

button {
  position: absolute;
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-style: none;
  border-radius: 4px;
  top: 15px;
  right: 30px;
}
button:hover {
  opacity: 0.9;
}
.locations {
  height: 100%;
  width: 25%;
  border-right: 1px solid #dddddd;
}

.amenities {
  height: 100%;
  width: 25%;
}

.filters div {
  display: inline-grid;
}

.filters h2 {
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.filters h3 {
  margin-left: 15%;
  margin-bottom: 0;
  font-weight: 600;
}
.filters h4 {
  margin-left: 15%;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
}

.popover {
  visibility: hidden;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fafafa;
  padding-bottom: 25px;
}
.amenities .popover {
  padding: 20px 0;
  margin-left: -5px;
  margin-top: 1%;
}
.locations .popover {
  margin-top: 1%;
}
.popover ul {
  list-style-type: none;
}
.popover li {
  margin-bottom: 8px;
}
.amenities:hover .popover,
.locations:hover .popover {
  visibility: visible;
}
